! special
*.foreground:   #d0d0d0
*.background:   #100f24
*.cursorColor:  #d0d0d0

! black
*.color0:       #1d1c45
*.color8:       #505050

! red
*.color1:       #b948be
*.color9:       #b948be

! green
*.color2:       #acc267
*.color10:      #acc267

! yellow
*.color3:       #f2cdf6
*.color11:      #f2cdf6

! blue
*.color4:       #3b73bd
*.color12:      #3b73bd

! magenta
*.color5:       #e1a3ee
*.color13:      #e1a3ee

! cyan
*.color6:       #5cbfd6
*.color14:      #5cbfd6

! white
*.color7:       #fefecf
*.color15:      #fefecf

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #100f24, #b948be, #b948be
rofi.color-normal: #1d1c45, #d0d0d0, #1d1c45, #b948be, #d0d0d0
rofi.color-active: #1d1c45, #d0d0d0, #1d1c45, #b948be, #d0d0d0
rofi.color-urgent: #bd2c40, #d0d0d0, #bd2c40, #b948be, #d0d0d0

rofi.separator-style:                solid

rofi.width: 				1920

Xft.autohint: 1
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
